<!DOCTYPE html>
<html lang='sl'>

<head>
    <title>Dohodnina</title>
    <meta charset="utf-8">
    <style>
        body {
            background-color: aliceblue;
            font-size: 150%;
            margin-top: 5cm;
        }

        table {
            background-color: darkgray;
            border-style: ridge;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
        }

        p {
            padding: 1%;
        }
    </style>
</head>

<body>
    <div class="container">
        {{!base}}
    </div>
</body>

</html>