% import bottle
% rebase('base.html')



    <table border="1">

        <form action="/izracunaj/">
            <tr class="opredelitev">
                <td class="opredelitev">
                    <h1>
                        <b>Dohodnina</b>
                    </h1>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Letni dohodek </b>(bruto)<b>:</b> <input type="number" step="0.01" required name="dohodek">€<br>
                    <b>Prispevki: </b><input type="number" step="0.01" required name="prispevki">€<br>
                    <b>Akontacija: </b><input type="number" step="0.01" required name="akontacija">€<br>
                </td>
            </tr>
            <tr>
                <tr class="opredelitev">
                    <td class="opredelitev">
                        Olajšave:
                    </td>
                </tr>
                <!-- olajsave -->
                <td class="ena1">
                    Število otrok: <input type="number" required min="0" name="st_otrok"><br>
                    <input type="checkbox" required name="splosna" value="True">
                    <label for="splosna">Splošna olajšava</label><br>
                    <input type="checkbox" name="invalidska" value="True">
                    <label for="invalidska">Invalid s 100% telesno okvaro</label><br>
                    
                    <input type="checkbox" id="dodatno_pok" name="interest" value="dodatno_pok">
                    <label for="dodatno_pok">Olajšava za doddatno pokojninsko zavarovanje</label>
                    <input type="number" step="0.01" width="1cm" placeholder="€" id="otherValue" name="dodatno_pok"><br>

                    <script>
                        var otherCheckbox = document.querySelector('input[value="dodatno_pok"]');
                        var otherText = document.querySelector('input[id="otherValue"]');
                        otherText.style.visibility = 'hidden';

                        otherCheckbox.addEventListener('change', () => {
                        if(otherCheckbox.checked) {
                            otherText.style.visibility = 'visible';
                            otherText.value = '';
                        } else {
                            otherText.style.visibility = 'hidden';
                        }
                        });
                    </script>
                    <input type="submit" id="gumb" value="Izračunaj!">
                </td>
            </tr>
        </form>
    </table>




<style>
    body {
        font-size: large;
    }
    td {
        padding: 4mm;
        width: 14cm;
        height: 6;
        text-align: left;
    }
    input {
        width: 2cm;

    }
    label {
        margin: auto;
        
    }
    .gumb{
        text-align: center;
    }
    .ena1 {
        text-align: left;
        padding-left: 3mm;
    }
    .opredelitev {
        text-align: center;
        height: 2mm;
    }
</style>

   