% import bottle
% rebase('base.html')

<h1>
    Izpis dohodnine
</h1>

<table border="1">
    <tr>
        <td>
         <b>{{niz}}</b>
        </td>
    </tr>
    <tr>
        <td>
            Olajšava zanša {{olajsave}} €
        </td>
    </tr>
</table>

<form action="/zacetna_stran/">
    <button type="submit">
        Začetna stran
    </button>

</form>

<style>
    body{
        text-align: center;
    }
    table{
        width: 10cm;
        height: 5cm;
    }
    button {
        margin-top: 1cm;
    }
</style>