% import bottle
% rebase('base.html')

<div>
    <h1>
        Računalo za izračun dohodnine za leto 2020
    </h1>

    <h2>
        Opis
    </h2>
    <p>
        <b>Program vam omogoča informativni izračun dohodnine za leto 2020.<br>
            <br>
            Na izbiro imate dve možnosi:</b>
    <ul>
        <b>$</b> Izračun dohodnine za eno osebo<br>
        <br>
        <b>$</b> Izračun dohodnine za dve osebi, ki izračuna<br>
        optimalno prijavo vzdrževanih otrok,<br>
        glede na skupni dohodek oseb
    </ul>
    </p>

    <form action="/zacetna_stran/">
        <button type="submit">
            ZAČNI
        </button>
    </form>
</div>
<style>
    div {
        text-align: center;
        margin-top: 5cm;
    }
</style>