% import bottle
% rebase('base.html')


<h1>
    <b>Dohodnina</b>
</h1>
<h2>
    Izberite moznost
</h2>


<table border="1">
    <colgroup align="center"></colgroup>
    <tr>
        <td>
            <p>
                Rcunate dohodnino za eno osebo
            </p>
            <form action="/ena_oseba/" >
                <button type="submit" value="1">
                O<br>
                /|\<br>
                /\<br>
                </button>
                
            </form>
        </td>
        <td>
            <p>
                Rcunate dohodnino za dve osebi
            </p>
            <form action="/dve_osebi/">
                <button type="submit" value="2">
                    O    O<br>
                /|\  /|\<br>
                /\   /\<br>   
                </button>
            </form>
        </td>
    </tr>
</table>