% import bottle
% rebase('base.html')

<h2>
    Izberite možnost
</h2>
<table border="1">
    <colgroup align="center"></colgroup>
    <tr>
        <td>
            <p>
                Ena oseba
            </p>
            <form action="/ena_oseba/">
                <button type="submit" value="1">
                    O<br>
                    /|\<br>
                    /\<br>
                </button>

            </form>
        </td>
        <td>
            <p>
                Dve osebi + otroci
            </p>
            <form action="/dve_osebi/">
                <button type="submit" value="2">
                    O O<br>
                    /|\ /|\<br>
                    /\ /\<br>
                </button>
            </form>
        </td>
    </tr>
</table>

<style>
    td {
        padding: 5mm;
        width: 4cm;
        height: 4cm;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    body {
        margin-top: 5cm;
    }

    button {
        text-align: center;
    }
</style>